:root {
  --primary-color: #64dcbc;
  --secondary-color: #385968;
  --text-color: #ddeceb;
  --bg-color: #2c2f33;
  --bg-color-darker: #23272a;
}

/* Button */
.button {
  background-color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.4rem;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 1.5rem;
  margin: 2px 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
}

.button:focus,
.button:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--text-color);
  outline: 0;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.button[disabled]:focus,
.button[disabled]:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.button.button-outline {
  background-color: transparent;
  color: var(--primary-color);
}

.button.button-outline:focus,
.button.button-outline:hover {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover {
  border-color: inherit;
  color: var(--primary-color);
}

.button.button-clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-color);
}

.button.button-clear:focus,
.button.button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--secondary-color);
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover {
  color: var(--primary-color);
}

/* Card */
.card {
  display: block;
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  border-radius: 14px;
  background: var(--bg-color);
  box-shadow: -7px -7px 16px #1b1e20, 7px 7px 16px #2b3034;
  transition: 0.3s;
  color: var(--text-color);
}

a.card {
  text-decoration: none;
  transition: 0.3s;
}
a.card:focus,
a.card:hover {
  color: var(--secondary-color);
  background-color: var(--bg-color-darker);
  box-shadow: -12px -12px 24px #191b1d, 12px 12px 24px #2e3337;
}
